#container {

	margin: 1rem;
	display: grid;
	grid-gap: 1em;
	grid-template-areas:
		'ui main'
		'timeline timeline';
	justify-content: space-between;

	&.RL {
		grid-template-areas:
		'main ui'
		'timeline timeline';
	}

	#main { grid-area: main; }
	#ui-timeline { grid-area: timeline }
	
	#interface {
		min-width: 120px;
		--max-width: 500;
		grid-area: ui;

		&.max-width {
			max-width: calc(var(--max-width) * 1px);
		}
	}
}

.panels {
	margin-top: 0.25em;
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.5rem;
	align-items: baseline;
	justify-content: space-between;
}

// break in collapsed and uncollapsed panels
#panel-break {
	flex-basis: 100%;
}


#quickRef-panel {
	.row { 
		font-size: calc(var(--quick-ref-font-size) * 1px);
	}

	.header {
		font-size: inherit;
	}
}