.btn {

	--progress-percent: 0;

	display: inline-block;
	background-color: $ui-color;
	padding: 0 0.5em;
	border-radius: 3px;
	
	&:hover {
		background: $ui-select;
		cursor: pointer;
	}
	
	&:active {
		background-color: $ui-highlight;
	}
	
	transition: background-color 150ms ease-in;
	line-height: 1.75;
	vertical-align: middle;
	white-space: nowrap;
	
	&.press { background-color: $accent-two; }

	&.left-end { @include left-end; }
	&.middle { @include middle; }
	&.right-end { @include right-end; }

	&.progress {
		background: linear-gradient(90deg, $ui-select 0%, $ui-select calc(var(--progress-percent) * 1%), $ui-color calc(var(--progress-percent) * 1%));
	}
}


/* toggle */
.on { background-color: $ui-select; }

.modal {
	position: fixed;
	background: white;
	padding: 0.5em;
	border-radius: 1em;
	border: 2px solid $main-color;
	box-shadow: 1px 1px 4px $ui-highlight;
	z-index: 9;
	max-width: 400px;
	overflow-y: scroll;
	max-height: 90vh;

	display: flex;
	flex-wrap: wrap;

	.break { flex-basis: 100%; }

	input { max-width: 40px; }
	input.search { max-width: inherit }

	label:first-child { flex: 100%; }

	label, 
	.btn, 
	input {
		margin: 3px;
	}
}