@import "interface.scss";

$track-color: yellow;
$clip-color: $main-color;

#lines {
	border: 1px solid $ui-color;
}

#timeline {
	--num-frames: 1;
	--num-tracks: 1;
	--frame-width: 10;
	--track-height: 32;
	--track-width: 100;

	flex-basis: 100%;
	display: grid;
	grid-template-columns: 
		calc(var(--track-width) * 1px) 
		repeat(var(--num-frames), auto);
		
	// repeat(var(--num-frames), 2px calc(var(--frame-width) * 1px));
	
	grid-template-rows: 
		1.5em 
		repeat(var(--num-tracks), calc(var(--track-height) * 1px));

	&.fit {
		// grid-template-columns: repeat(var(--num-frames), 2px calc(var(--frame-width) * 1px));
	}

	.frame {
		background-color: $ui-color;
		grid-row: 1 / 1;
		width: 100%;
		overflow: hidden;
		border-left: 1px dashed $bg-color;
		&.current-frame { background-color: $ui-highlight !important; }
	}

	.track {
		background-color: $track-color;
		grid-column: 1 / 1;
		display: flex;
		height: calc(var(--track-height) * 1px);
		align-items: baseline;
		padding: 3px;


		input[type=text] {
			width: 72px;
			text-align: left;
			font-size: 1.5em;
		}

	}

	.clip {
		background-color: $clip-color;
		display: flex;
		height: calc(var(--track-height) * 1px);
		align-items: baseline;
		padding: 3px;
	}

	&::-webkit-scrollbar {
		width: 1em;
		height: 1em;
	}
	 
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px $ui-color;
	}
	 
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}

}