@import "colors.scss";
@import "interface.scss";

#nav {
	margin-bottom: 0.25em;
	display: grid;
	grid-template-columns: 40px 60px;
	row-gap: 0.25em;
}

/* cursor areas */
canvas#map { 
	display: block; 
	border: 1px solid black;
}

canvas#map.zoom-tool {
	cursor: -webkit-grab;
	cursor: grab;
}

canvas#map.zoom-tool:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

canvas#map.transform-tool {
	cursor: -webkit-move;
	cursor: move;
}

canvas#map.location-tool {
	cursor: -webkit-cell;
	cursor: cell;
}

.panel {
	input.search {
		flex: 100%;
		text-align: left;
	}

	padding: 3px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;

	input.label {
		order: 1;
		flex: auto;
		text-align: left;
		padding: 3px;
	}

	.label { order: 0; }
	.edit { order: 1; }
	.scene { order: 2; }
	.location { order: 3; }
	.texture { order: 3; }
	.remover { order: 5; }
	.loader { order: 4; }

}

/* debug remove  */
#log {
	position: fixed;
	top: 10px;
	left: 10px;
	font-family:  monaco, monospace;
	font-size:  32px;
	color: hotpink;
}