@font-face {
	font-family: 'key-commands';
	src:url('fonts/key-commands.eot?xfi4h8');
	src:url('fonts/key-commands.eot?#iefixxfi4h8') format('embedded-opentype'),
		url('fonts/key-commands.woff?xfi4h8') format('woff'),
		url('fonts/key-commands.ttf?xfi4h8') format('truetype'),
		url('fonts/key-commands.svg?xfi4h8#key-commands') format('svg');
	font-weight: normal;
	font-style: normal;
}

.key {
	font-family: 'key-commands';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:3em;
	color:lightblue;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-svg:before {
	content: "\30";
}

.icon-svg2:before {
	content: "\31";
}

.icon-svg3:before {
	content: "\32";
}

.icon-svg4:before {
	content: "\33";
}

.icon-4:before {
	content: "\34";
}

.icon-5:before {
	content: "\35";
}

.icon-6:before {
	content: "\36";
}

.icon-7:before {
	content: "\37";
}

.icon-8:before {
	content: "\38";
}

.icon-9:before {
	content: "\39";
}

.icon-a:before {
	content: "\61";
}

.icon-A:before {
	content: "\41";
}

.icon-b:before {
	content: "\62";
}

.icon-\:before {
	content: "\5c";
}

.icon-c:before {
	content: "\63";
}

.icon-;:before {
	content: "\3b";
}

.icon-C:before {
	content: "\43";
}

.icon-V:before {
	content: "\56";
}

.icon-d:before {
	content: "\64";
}

.icon-K:before {
	content: "\4b";
}

.icon-D:before {
	content: "\44";
}

.icon-e:before {
	content: "\65";
}

.icon-f:before {
	content: "\66";
}

.icon-F:before {
	content: "\46";
}

.icon-g:before {
	content: "\67";
}

.icon-h:before {
	content: "\68";
}

.icon-i:before {
	content: "\69";
}

.icon-j:before {
	content: "\6a";
}

.icon-k:before {
	content: "\6b";
}

.icon-l:before {
	content: "\6c";
}

.icon-J:before {
	content: "\4a";
}

.icon-[:before {
	content: "\5b";
}

.icon-lcarrot:before {
	content: "\2c";
}

.icon-m:before {
	content: "\6d";
}

.icon-n:before {
	content: "\6e";
}

.icon-o:before {
	content: "\6f";
}

.icon-p:before {
	content: "\70";
}

.icon-+:before {
	content: "\3d";
}

.icon-q:before {
	content: "\71";
}

.icon-/:before {
	content: "\2f";
}

.icon-':before {
	content: "\27";
}

.icon-r:before {
	content: "\72";
}

.icon-L:before {
	content: "\4c";
}

.icon-]:before {
	content: "\5d";
}

.icon-.:before {
	content: "\2e";
}

.icon-R:before {
	content: "\52";
}

.icon-s:before {
	content: "\73";
}

.icon-S:before {
	content: "\53";
}

.icon-X:before {
	content: "\58";
}

.icon-t:before {
	content: "\74";
}

.icon-T:before {
	content: "\54";
}

.icon-`:before {
	content: "\60";
}

.icon-u:before {
	content: "\75";
}

.icon-I:before {
	content: "\49";
}

.icon--:before {
	content: "\2d";
}

.icon-v:before {
	content: "\76";
}

.icon-w:before {
	content: "\77";
}

.icon-x:before {
	content: "\78";
}

.icon-y:before {
	content: "\79";
}

.icon-z:before {
	content: "\7a";
}

