@import "colors.scss";

* { 
	box-sizing: border-box;
	// touch-action: manipulation; /* not sure why ... */
	touch-action: none; /* this fixes drawing on the onyx */
}

body {
	--base-font-size: 11;
	--quick-ref-font-size: 11;

	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: calc(var(--base-font-size) * 1px);
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
	color: $text-color;
}

select, input {
	color: $text-color;
	font-size: inherit;
}

button:focus, 
select:focus { 
	outline: none; 
}

select {
	vertical-align: middle;
	height: 1.75em;
}

#tool-tip {
	pointer-events: none;
	position: fixed;
	z-index: 99;
	right: 1em;
	top: 1em;
	background: $accent-two;
	border-radius: 3px;
	font-size: 1em;
	color: black;
	padding: 2px 6px;
	opacity: 0;
	transition: opacity 100ms ease-in;
	&.visible {
		opacity: 1;
		transition: opacity 400ms ease-out;
	}
}

#container {

	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;

	&.timeline-display {
		display: grid;
		grid-template-areas:
			'interface draw'
			'timeline timeline';
	}
	
	#draw {
		order: 0;
		padding-right: 1em;
		
	}

	&.right #draw {
		order: 2;
		padding-left: 1em; 
		padding-right: 0;
	}

	&.right #interface #panels {
		// justify-content: flex-end;
	}
	
	#interface { 
		flex: 1; 
		grid-area: interface;
	}

	#draw {
		grid-area: draw;
	}

	#timeline-panel {
		grid-area: timeline;
	}
}

.btn {
	display: inline-block;
	background-color: $ui-color;
	padding: 0 0.5em;
	border-radius: 3px;
	&:hover {
		background: $ui-select;
		cursor: pointer;
	}
	&:active {
		background-color: $ui-highlight;
	}
	transition: background-color 150ms ease-in;
	line-height: 1.75;
	vertical-align: middle;
	white-space: nowrap;
	&.press { background-color: $accent-two; }

	&.left-end {
		margin-right: 0 !important;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 1px solid $ui-select;
	}

	&.middle {
		margin-right: 0;
		border-radius: 0;
		border-right: 1px solid $ui-select;
	}

	&.right-end {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

#panels {
	margin-top: 0.25em;
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.5rem;
	align-items: baseline;
}

#quickRef-panel {

	.row { 
		font-size: calc(var(--quick-ref-font-size) * 1px);
	}

	.header {
		font-size: inherit;
	}
}

/* toggle */
.off { background-color: $ui-select; }

.panel {
	flex-basis: 12em;
	flex-grow: 1;
	max-width: 14.5em;
	order: 0;

	background-color: $bg-color;
	border-radius: 3px;

	padding: 0.25rem;
	overflow: hidden;
	position: relative;
	height: auto;
	margin-bottom: 0.5rem;

	// margin: 0 0.5em 0.5em 0;

	&.undocked { display: none !important; }
	&.closed { 
		height: 25px; 
		order: -1;
	}

	&.block {
		min-width: 100%;
		width: max-content;
		display: flex;
		flex-wrap: wrap;
	}

	.row label { margin-bottom: 0; }

	.row {
		margin-bottom: 0.25em;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		
		label { line-height: 1.5; }
		
		span, 
		label, 
		input, 
		select {
			white-space: nowrap;
			margin-right: 0.25em;
			margin-top: 0.25em;
			// flex: 0 1 12%;
			&.block {
				flex: auto;
				text-align: left;
			}
		}

		input {
			flex: 0 1 28px;
			width: calc(calc(var(--base-font-size) * 3) * 1px);
			text-align: right;
		}
		
		input[type=range], 
		input[type=color] {
			flex: 1 1 auto;
		}

		input[type=range] {
			-webkit-appearance: none;
			width: 100%;
			background-color: white;
			border: 1px solid $ui-color;
			margin-left: 0;
			border-radius: 3px;
			margin: 0.25em 0;

			&:active {
				border: 1px solid $main-color;
			}

			&:focus {
				outline: none;
				border: 1px solid $main-color;
				&::-webkit-slider-thumb {
					background-color: $main-color;
				}
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none; 
				outline: none;
				background-color: $ui-color;
				height: 1.25em;
				width: 0.75em;
				cursor: grab;
				&:active { 
					cursor: grabbing; 
					background-color: $main-color;
				}
			}

			&::-ms-track {
				width: 100%;
				cursor: pointer;
			}
		}
		
		input[type=text] {
			border: none;
			background-color: $ui-color;
			padding-right: 0.25em;
			height: 1.125rem;
			&:focus {
				outline: 1px solid $accent-color;
			}
		}
	}

	.btn {
		padding: 0 0.25em;
		margin-right: 3px;
		margin-top: 0.5em;
		transition: background-color 100ms ease-in-out;
		&.triggered {
			background-color: $ui-select;
		}
	}

	select { margin-top: 0.25em; }

	.header {
		flex-wrap: nowrap;
		flex-basis: 100%;
		label {  font-size: 1.0625em; }
		span, label { 
			margin-top: 0; 
			margin-right: 0.06125em;
		}

		.undock-btn {
			align-self: flex-start;
			margin-left: auto;
		}

		.order-btn {
			align-self: flex-start;
		}

		.toggle,
		.order-btn,
		.undock-btn,
		.block-btn,
		.headless-btn {
			display: inline-block;
			cursor: pointer;
			font-size: 1.0625em;
			padding: 1px;
			align-self: baseline;

			border-top: 2px solid transparent;

			&.off { background-color: inherit; }
			&:hover { background: $ui-select; }
		}

		.order-btn, 
		.undock-btn, 
		.block-btn, 
		.headless-btn {

			&:hover {
				background-color: $ui-color;
				border-top: 2px solid $ui-select;
			}
		}

		.block-btn {
			align-self: flex-start;
			font-size: 1em;
		}

		.headless-btn {
			margin-right: 0;
		}
	}

	&.headless {
		padding: 0 3px;
		border-radius: 0;
		margin: 0;

		.btn, input {
			// margin-top: 0;
		}

		label, .headless-btn {
			align-self: baseline;
		}

		.header {
			margin-bottom: 0;
			height: 0px;
			.toggle, .order-btn, .undock-btn, .block-btn {
				display: none;
			}
			label {
				margin-left: auto;
				font-size: 10px;
			}
		}	
	}
}

.modal {
	position: fixed;
	background: white;
	padding: 0.5em;
	border-radius: 1em;
	border: 2px solid $main-color;
	box-shadow: 1px 1px 4px $ui-highlight;
	z-index: 9;
	max-width: 400px;
	overflow-y: scroll;
	max-height: 90vh;

	// * { margin-right: 1em; }
	.break {
		flex-basis: 100%;
	}

	input { max-width: 40px; }

	display: flex;
	flex-wrap: wrap;

	label:first-child {
		flex: 100%;
	}

	label, .btn, input {
		margin: 3px;
	}
}

.mobile {
	.menu-panel {
		flex-basis: 180px;
		max-width: 220px;

		.row input {
			flex-basis: 50px;
		}
	}
}

#interface {
	position: relative;

	#resize {
		position: absolute;
		top: 0;
		right: 0;
		color: $text-color;
		z-index: 9;
		cursor: grab;
		&:active {
			cursor: grabbing;
		}
	}
}