@import 'font.css';
body {
	font-family: Monaco, Helvetica, sans-serif;
	margin:0;
	font-size:11px;
	-webkit-user-select: none;
	user-select: none;
}
* {box-sizing: border-box; }
#container {
	min-width:720px;
	position:relative;
	width:100%;
}
canvas {
	float:left;
	margin:1em;
	&.draw {
		border:1px solid gray;
		&:active, &:hover {
			cursor: crosshair;
		}
	}
}

#keys {
	float:left;
	clear:left;
	cursor:pointer;
	padding:1em;
	max-width:500px;
	ul { list-style:none; padding: 0;}
	li { 
		vertical-align:middle; 
		display:inline-block;
		margin:0.25em;
	}
}

#nav {
	padding:1em;
	h2 {display:inline;}
	.btn {
		border: 1px solid gray;
		padding:0.25em;
		margin: .25em 0;
		border-radius:3px;
		cursor:pointer;
		&:hover {
			background:lightgray;
		}
	}
}

.menu-panel {
	width:160px;
	height:240px;
	float:left;
	margin-right:0.5em;
	margin-top:0.5em;
	border-top:1px solid lightgray;
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	padding:0.5em;
	
	/* background: linear-gradient(to right, #ffffff 97%,#d2d2d2 100%); */
	box-shadow: 2px 2px 1px lightgray;
	.row {
		margin: 1em 0;
		display:block;
		&:first-child {
			margin-top: 3px;
		}
	}
	.btn {
		border: 1px solid gray;
		padding:0.25em;
		margin: .25em 0;
		border-radius:3px;
		cursor:pointer;
		&:hover {
			background:lightgray;
		}
	}
}

#colormenu, #canvasmenu {
	input {
		display:inline-block;
		/* width:100px; */
	}
	#html-color, #bkg-img, #bkg-x, #bkg-y, #bkg-size { width:80px; }
	#colorways {
		margin-top: 0.5em;
		button {
			padding: 2px;
			border: 1px solid lightgray;
			&:hover{ cursor: pointer; }
		}
	} 
}

#color, #color-gradient {
	width:100%;
	height: 2em;
	border:1px solid gray;
	margin-bottom:1em;
}

#frames {
	height:auto;
	padding: 0.5em;
	width: auto;
	.frame, .plusframe {
		width:30px;
		height:30px;
		display:inline-block;
		background-color:lightgray;
		margin-right:1px;
		margin-top:1px;
		padding: 0.5em;
		&:hover {
			background-color:gray;
		}
	}
	.current { background-color: lightblue; }
	.copy { background-color: pink; }
}