@mixin left-end {
	margin-right: 0 !important;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 1px solid $ui-select;
}

@mixin middle {
	margin-right: 0;
	border-radius: 0;
	border-right: 1px solid $ui-select;
}

@mixin right-end {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}