
canvas#map { 
	display: block; 
	border: 1px solid black;
}

canvas#map.zoom-tool {
	cursor: -webkit-grab;
	cursor: grab;
}

canvas#map.zoom-tool:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

canvas#map.transform-tool {
	cursor: -webkit-move;
	cursor: move;
}

/* ui adjustment */
/*label { margin-right: 1em; }*/
