canvas { 
	display: block; 
	border: 1px solid black;
}
canvas.zoom-tool {
	cursor: -webkit-grab;
	cursor: grab;
}
canvas.zoom-tool:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
canvas.transform-tool {
	cursor: -webkit-move;
	cursor: move;
}