$main-color: #bee4ff; /* light blue */
$accent-color: blue;
$accent-two: #ffddff; /* light pink */
$ui-highlight: #FF79FF; /* lighter pink */
$ui-color: lightgray;
$ui-select: gray;
$bg-color: #eae1ff; /* light purple */
$border-color: #d3d3ff; /* light bluish purple */
$text-color: #110263; /* dark bluish purple */