* { 
	box-sizing: border-box;
	touch-action: manipulation;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: 11px;
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
}

button:focus { outline: none; }

select { margin-top: 0.25em; }

#tool-tip {
	position: fixed;
	right: 20px;
	background: $accent-two;
	border-radius: 3px;
	font-size: 1em;
	color: black;
	padding: 2px 6px;
	opacity: 0;
	transition: opacity 100ms ease-in;
	&.visible {
		opacity: 1;
		transition: opacity 400ms ease-out;
	}
}

#container {
	margin:1em;
	display: flex;
	flex-wrap: wrap;
	#draw {
		order: 0;
		padding-right: 1em;
		&.right {
			order: 2;
			padding-left: 1em; 
			padding-right: 0;
		}
	}
	#tools { flex: 1; }
}

.btn {
	display: inline-block;
	margin-top: 0.5em;
	background-color: $ui-color;
	padding: 0 0.5em;
	border-radius: 3px;
	&:hover {
		background: $accent-two;
		cursor: pointer;
	}
	transition: background-color 150ms ease-in;
	line-height: 1.75;
	white-space: nowrap;
	&.press { background-color: $accent-two; }
}

#nav {
	#title {
		border: none;
		font-size: 1.5em;
		display: block;
		margin-bottom: 0.5em;
		border-bottom: 1px solid transparent;
		width: 100%;
		&:focus {
			outline: none;
			border-bottom: 1px solid black;
		}
	}

	label { margin-right: 0.25em; }
}

#panels {
	margin-top: 0.5em;
	display: flex;
	flex-wrap: wrap;
}

/* toggle */
.off { background-color: $ui-select; }

.menu-panel {
	flex-basis: 120px;
	flex-grow: 1;
	max-width: 160px;
	order: 0;
	border-top: 1px solid $ui-color;
	border-right: 1px solid $ui-color;
	padding: 0.5em;
	overflow: hidden;
	position: relative;
	height: auto;

	&.undocked { display: none; }
	&.closed { height: 25px; }

	label { 
		margin-bottom: 1em; 
		display: block;
	}
	.row label { margin-bottom: 0; }

	.toggle, .order, .undock-btn {
		display: inline-block;
		position: absolute;
		right: 34px;
		top: 0;
		left: 0;
		text-align: right;
		cursor: pointer;
		font-size: 14px;
		font-weight: 100;
		&:hover { background: $accent-two; }
		opacity: 0.5;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;

		&.off { background-color: inherit; }
	}

	.undock-btn {
		right: 18px;
		left: auto;
	}

	.order {
		font-size: 1em;
		right: 2px;
		left: auto;
	}

	.row {
		margin-bottom: 0.5em;
		display: flex;
		flex-wrap: wrap;
		
		label { line-height: 1.5; }
		
		span, label, input, select {
			white-space: nowrap;
			margin-right: 0.25em;
			margin-top: 0.25em;
			flex: 0 1 12%;
			&.block {
				flex: auto;
				text-align: left;
			}
		}

		input {
			flex: 0 1 40px;
			width: 100%;
			text-align: right;
		}
		
		input[type=range], input[type=color] {
			flex: 1 1 auto;
		}
		
		input[type=text] {
			border: none;
			background-color: $ui-color;
			padding-right: 0.25em;
			&:focus {
				outline: 1px solid $accent-color;
			}
		}
	}

	.btn {
		padding: 0 0.25em;
		margin-right: 3px;
	}
}

.modal {
	position: fixed;
	background: white;
	padding: 0.5em;
	border-radius: 1em;
	border: 2px solid $main-color;
	box-shadow: 1px 1px 4px $ui-highlight;
	
	max-width: 400px;
	* { margin-right: 1em; }

	input { max-width: 40px; }

	display: flex;
	flex-wrap: wrap;

	label:first-child {
		flex: 100%;
	}
}

.mobile {
	.menu-panel {
		flex-basis: 180px;
		max-width: 220px;

		.row input {
			flex-basis: 50px;
		}
	}
	
	.btn, select, input {
		font-size: 1.75em;
	}
}