@import "colors";

* { 
	box-sizing: border-box;
	touch-action: manipulation;
}

body {
	font-family: Verdana, sans-serif;
	margin: 0;
	font-size: 11px;
	-webkit-user-select: none;
	user-select: none;
	touch-action: manipulation;
	color: $text-color;
}

select, input {
	color: $text-color;
}

button:focus, 
select:focus { 
	outline: none; 
}

select {
	vertical-align: middle;
	height: 1.75em;
}

#tool-tip {
	position: fixed;
	right: 1em;
	top: 1em;
	background: $accent-two;
	border-radius: 3px;
	font-size: 1em;
	color: black;
	padding: 2px 6px;
	opacity: 0;
	transition: opacity 100ms ease-in;
	&.visible {
		opacity: 1;
		transition: opacity 400ms ease-out;
	}
}

#container {
	margin:1em;
	display: flex;
	flex-wrap: wrap;
	#draw {
		order: 0;
		padding-right: 1em;
		&.right {
			order: 2;
			padding-left: 1em; 
			padding-right: 0;
		}
	}
	#interface { flex: 1; }
}

.btn {
	display: inline-block;
	background-color: $ui-color;
	padding: 0 0.5em;
	border-radius: 3px;
	&:hover {
		background: $accent-two;
		cursor: pointer;
	}
	&:active {
		background-color: $ui-highlight;
	}
	transition: background-color 150ms ease-in;
	line-height: 1.75;
	vertical-align: middle;
	white-space: nowrap;
	&.press { background-color: $accent-two; }
}

#panels {
	margin-top: 0.25em;
	display: flex;
	flex-wrap: wrap;
}

/* toggle */
.off { background-color: $ui-select; }

.panel {
	flex-basis: 120px;
	flex-grow: 1;
	max-width: 160px;
	order: 0;

	background-color: $bg-color;
	border-radius: 3px;
	margin: 3px;
	margin-left: 0;

	padding: 0.5em;
	overflow: hidden;
	position: relative;
	height: auto;

	&.undocked { display: none; }
	&.closed { height: 25px; }

	&.block {
		min-width: 100%;
		width: max-content;
	}

	.row label { margin-bottom: 0; }

	.row {
		margin-bottom: 0.25em;
		display: flex;
		flex-wrap: wrap;
		
		label { line-height: 1.5; }
		
		span, label, input, select {
			white-space: nowrap;
			margin-right: 0.25em;
			margin-top: 0.25em;
			// flex: 0 1 12%;
			&.block {
				flex: auto;
				text-align: left;
			}
		}

		input {
			flex: 0 1 40px;
			width: 100%;
			text-align: right;
		}
		
		input[type=range], input[type=color] {
			flex: 1 1 auto;
		}
		
		input[type=text] {
			border: none;
			background-color: $ui-color;
			padding-right: 0.25em;
			&:focus {
				outline: 1px solid $accent-color;
			}
		}
	}

	.btn {
		padding: 0 0.25em;
		margin-right: 3px;
		margin-top: 0.5em;
	}

	select { margin-top: 0.25em; }

	.header {
		flex-wrap: nowrap;
		label {  font-size: 12px; }
		span, label { margin-top: 0; }

		.undock-btn {
			align-self: flex-start;
			margin-left: auto;
		}

		.order-btn {
			align-self: flex-start;
		}

		.toggle, .order-btn, .undock-btn, .block-btn, .headless-btn {
			display: inline-block;
			cursor: pointer;
			font-size: 12px;
			&:hover { background: $accent-two; }
			&.off { background-color: inherit; }
		}

		.block-btn {
			align-self: flex-start;
			font-size: 11px;
		}

		.headless-btn {
			margin-right: 0;
		}
	}

	&.headless {
		padding: 0;
		border-radius: 0;
		margin: 0;

		.btn, input {
			// margin-top: 0;
		}

		.header {
			margin-bottom: 0;
			height: 0px;
			.toggle, .order-btn, .undock-btn, .block-btn {
				display: none;
			}
			label {
				margin-left: auto;
				font-size: 10px;
			}
		}

		
	}

}

.modal {
	position: fixed;
	background: white;
	padding: 0.5em;
	border-radius: 1em;
	border: 2px solid $main-color;
	box-shadow: 1px 1px 4px $ui-highlight;
	
	max-width: 400px;
	* { margin-right: 1em; }

	input { max-width: 40px; }

	display: flex;
	flex-wrap: wrap;

	label:first-child {
		flex: 100%;
	}
}

.mobile {
	.menu-panel {
		flex-basis: 180px;
		max-width: 220px;

		.row input {
			flex-basis: 50px;
		}
	}
	
	.btn, select, input {
		font-size: 1.75em;
	}
}