/* light blue */
/* light pink */
/* lighter pink */
/* light purple */
/* light bluish purple */
/* dark bluish purple */
* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-size: 11px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  color: #110263;
}

select, input {
  color: #110263;
}

button:focus,
select:focus {
  outline: none;
}

select {
  vertical-align: middle;
  height: 1.75em;
}

#tool-tip {
  position: fixed;
  right: 1em;
  top: 1em;
  background: #ffddff;
  border-radius: 3px;
  font-size: 1em;
  color: black;
  padding: 2px 6px;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
#tool-tip.visible {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

#container {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
#container #draw {
  order: 0;
  padding-right: 1em;
}
#container #draw.right {
  order: 2;
  padding-left: 1em;
  padding-right: 0;
}
#container #interface {
  flex: 1;
}

.btn {
  display: inline-block;
  background-color: lightgray;
  padding: 0 0.5em;
  border-radius: 3px;
  transition: background-color 150ms ease-in;
  line-height: 1.75;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:hover {
  background: #ffddff;
  cursor: pointer;
}
.btn:active {
  background-color: #FF79FF;
}
.btn.press {
  background-color: #ffddff;
}

#panels {
  margin-top: 0.25em;
  display: flex;
  flex-wrap: wrap;
}

/* toggle */
.off {
  background-color: gray;
}

.panel {
  flex-basis: 120px;
  flex-grow: 1;
  max-width: 160px;
  order: 0;
  background-color: #eae1ff;
  border-radius: 3px;
  margin: 3px;
  margin-left: 0;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  height: auto;
}
.panel.undocked {
  display: none;
}
.panel.closed {
  height: 25px;
}
.panel.block {
  min-width: 100%;
  width: max-content;
}
.panel .row label {
  margin-bottom: 0;
}
.panel .row {
  margin-bottom: 0.25em;
  display: flex;
  flex-wrap: wrap;
}
.panel .row label {
  line-height: 1.5;
}
.panel .row span, .panel .row label, .panel .row input, .panel .row select {
  white-space: nowrap;
  margin-right: 0.25em;
  margin-top: 0.25em;
}
.panel .row span.block, .panel .row label.block, .panel .row input.block, .panel .row select.block {
  flex: auto;
  text-align: left;
}
.panel .row input {
  flex: 0 1 40px;
  width: 100%;
  text-align: right;
}
.panel .row input[type=range], .panel .row input[type=color] {
  flex: 1 1 auto;
}
.panel .row input[type=text] {
  border: none;
  background-color: lightgray;
  padding-right: 0.25em;
}
.panel .row input[type=text]:focus {
  outline: 1px solid blue;
}
.panel .btn {
  padding: 0 0.25em;
  margin-right: 3px;
  margin-top: 0.5em;
}
.panel select {
  margin-top: 0.25em;
}
.panel .header label {
  font-size: 12px;
}
.panel .header span, .panel .header label {
  margin-top: 0;
}
.panel .header .undock-btn {
  align-self: flex-start;
  margin-left: auto;
}
.panel .header .order-btn {
  align-self: flex-start;
}
.panel .header .toggle, .panel .header .order-btn, .panel .header .undock-btn, .panel .header .block-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
}
.panel .header .toggle:hover, .panel .header .order-btn:hover, .panel .header .undock-btn:hover, .panel .header .block-btn:hover {
  background: #ffddff;
}
.panel .header .toggle.off, .panel .header .order-btn.off, .panel .header .undock-btn.off, .panel .header .block-btn.off {
  background-color: inherit;
}
.panel .header .block-btn {
  align-self: flex-start;
  font-size: 11px;
}
.panel.headless {
  padding: 0;
  border-radius: 0;
  margin: 0;
}
.panel.headless .header {
  margin-bottom: 0;
  height: 0px;
}
.panel.headless .header .toggle, .panel.headless .header .order-btn, .panel.headless .header .undock-btn, .panel.headless .header .block-btn {
  display: none;
}
.panel.headless .header label {
  margin-left: auto;
  font-size: 10px;
}

.modal {
  position: fixed;
  background: white;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid #bee4ff;
  box-shadow: 1px 1px 4px #FF79FF;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.modal * {
  margin-right: 1em;
}
.modal input {
  max-width: 40px;
}
.modal label:first-child {
  flex: 100%;
}

.mobile .menu-panel {
  flex-basis: 180px;
  max-width: 220px;
}
.mobile .menu-panel .row input {
  flex-basis: 50px;
}
.mobile .btn, .mobile select, .mobile input {
  font-size: 1.75em;
}

/*# sourceMappingURL=lines.css.map */
