@import 'font.css';
* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-size: 11px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

button:focus {
  outline: none;
}

select {
  margin-top: 0.25em;
}

.desktop *[title]:hover:after, .press:after {
  content: "~ " attr(title);
  position: fixed;
  top: 40px;
  right: 20px;
  background: #ffddff;
  border-radius: 3px;
  padding: 1px 3px;
  color: black;
}

#tool-tip {
  position: fixed;
  top: 40px;
  right: 20px;
  background: #ffddff;
  border-radius: 3px;
  font-size: 1em;
  color: black;
}
#tool-tip.visible {
  padding: 2px 6px;
}

/* this is kind of doubled up but fix later */
#container {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
#container #draw {
  order: 0;
  padding-right: 1em;
}
#container #draw.right {
  order: 2;
  padding-left: 1em;
  padding-right: 0;
}
#container #tools {
  flex: 1;
}

#draw #lines {
  border: 1px solid lightgray;
}
#draw #lines:active, #draw #lines:hover {
  cursor: crosshair;
}

.btn {
  display: inline-block;
  margin-top: 0.5em;
  background-color: lightgray;
  padding: 0 0.5em;
  border-radius: 3px;
  transition: background-color 150ms ease-in;
  line-height: 1.75;
  white-space: nowrap;
}
.btn:hover {
  background: #ffddff;
  cursor: pointer;
}
.btn.press {
  background-color: #ffddff;
}

#nav #title {
  border: none;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  width: 100%;
}
#nav #title:focus {
  outline: none;
  border-bottom: 1px solid black;
}
#nav label {
  margin-right: 0.25em;
}

#panels {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));*/
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.menu-panel {
  flex-basis: 120px;
  flex-grow: 1;
  max-width: 160px;
  order: 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  height: auto;
}
.menu-panel.hide {
  display: none;
}
.menu-panel .title {
  margin-bottom: 1em;
}
.menu-panel .toggle, .menu-panel .order, .menu-panel .hide {
  display: inline-block;
  position: absolute;
  right: 34px;
  top: 0;
  left: 0;
  text-align: right;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  opacity: 0.5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.menu-panel .toggle:hover, .menu-panel .order:hover, .menu-panel .hide:hover {
  background: #ffddff;
}
.menu-panel .hide {
  right: 18px;
  left: auto;
}
.menu-panel .order {
  font-size: 1em;
  right: 2px;
  left: auto;
}
.menu-panel .row {
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.menu-panel .row label {
  line-height: 1.5;
}
.menu-panel .row span, .menu-panel .row label, .menu-panel .row input, .menu-panel .row select {
  white-space: nowrap;
  margin-right: 0.25em;
  margin-top: 0.25em;
  flex: 0 1 auto;
}
.menu-panel .row span.block, .menu-panel .row label.block, .menu-panel .row input.block, .menu-panel .row select.block {
  flex: auto;
  text-align: left;
}
.menu-panel .row input {
  flex: 0 1 40px;
  width: 100%;
  text-align: right;
}
.menu-panel .row input[type=range], .menu-panel .row input[type=color] {
  flex: 1 1 auto;
}
.menu-panel .row input[type=text] {
  border: none;
  background-color: lightgray;
  padding-right: 0.25em;
}
.menu-panel .row .display {
  text-align: right;
}
.menu-panel .btn {
  padding: 0 0.25em;
  margin-right: 3px;
}

#frames {
  height: auto;
  padding: 0;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 24px);
  grid-template-rows: max-content max-content;
}
#frames p {
  margin: 0;
  grid-column: 1/span 2;
}
#frames .frame, #frames .plus, #frames #current {
  border-radius: 3px;
  display: inline-block;
  background-color: lightgray;
  transition: background-color 100ms ease-in;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0.5em;
  cursor: pointer;
}
#frames .frame:hover, #frames .plus:hover, #frames #current:hover {
  background-color: gray;
}
#frames #current {
  background-color: lightblue !important;
}
#frames .selected {
  background-color: #ffddff !important;
}

#draw-layers {
  margin-top: 1em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.25em 0;
}

.modal {
  position: fixed;
  background: white;
  padding: 1em;
  border-radius: 1em;
  border: 5px solid lightblue;
  outline: 10px dotted #ffddff;
  top: 50%;
  right: 50%;
  width: 400px;
}
.modal * {
  margin: 0 1em;
}

.mobile .menu-panel {
  flex-basis: 180px;
  max-width: 220px;
}
.mobile .menu-panel .row input {
  flex-basis: 50px;
}
.mobile .btn, .mobile select, .mobile input {
  font-size: 1.75em;
}

/*# sourceMappingURL=lines.css.map */
