@import "../../../interface/css/colors";

/* cursor areas */
canvas#map { 
	display: block; 
	border: 1px solid black;
}

canvas#map.zoom-tool {
	cursor: -webkit-grab;
	cursor: grab;
}

canvas#map.zoom-tool:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

canvas#map.transform-tool {
	cursor: -webkit-move;
	cursor: move;
}

canvas#map.location-tool {
	cursor: -webkit-cell;
	cursor: cell;
}

/* item layout */
.item {
	border-bottom: 1px solid $main-color;
	padding: 3px;
	justify-content: space-between;

	input.label {
		order: 1;
		flex: auto;
		text-align: left;
		padding: 3px;
	}

	.x-label, .x-input, .y-label, .y-input,
	.add {
		order: 2;
		flex: 25%;
	}

	.focus, .remove, .lock, .all {
		order: 3;
	}

	.scene-selector, .frame-type {
		order: 4;
	}

	.add-scene {
		order: 5;
	}

	.edit {
		order: 6;
	}
}