* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-size: 11px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

button:focus {
  outline: none;
}

select {
  margin-top: 0.25em;
}

#tool-tip {
  position: fixed;
  right: 20px;
  background: #ffddff;
  border-radius: 3px;
  font-size: 1em;
  color: black;
  padding: 2px 6px;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
#tool-tip.visible {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

#container {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
#container #draw {
  order: 0;
  padding-right: 1em;
}
#container #draw.right {
  order: 2;
  padding-left: 1em;
  padding-right: 0;
}
#container #tools {
  flex: 1;
}

.btn {
  display: inline-block;
  margin-top: 0.5em;
  background-color: lightgray;
  padding: 0 0.5em;
  border-radius: 3px;
  transition: background-color 150ms ease-in;
  line-height: 1.75;
  white-space: nowrap;
}
.btn:hover {
  background: #ffddff;
  cursor: pointer;
}
.btn.press {
  background-color: #ffddff;
}

#nav #title {
  border: none;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  width: 100%;
}
#nav #title:focus {
  outline: none;
  border-bottom: 1px solid black;
}
#nav label {
  margin-right: 0.25em;
}

#panels {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

/* toggle */
.off {
  background-color: gray;
}

.menu-panel {
  flex-basis: 120px;
  flex-grow: 1;
  max-width: 160px;
  order: 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  height: auto;
}
.menu-panel.undocked {
  display: none;
}
.menu-panel.closed {
  height: 25px;
}
.menu-panel label {
  margin-bottom: 1em;
  display: block;
}
.menu-panel .row label {
  margin-bottom: 0;
}
.menu-panel .toggle, .menu-panel .order, .menu-panel .undock-btn {
  display: inline-block;
  position: absolute;
  right: 34px;
  top: 0;
  left: 0;
  text-align: right;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  opacity: 0.5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.menu-panel .toggle:hover, .menu-panel .order:hover, .menu-panel .undock-btn:hover {
  background: #ffddff;
}
.menu-panel .toggle.off, .menu-panel .order.off, .menu-panel .undock-btn.off {
  background-color: inherit;
}
.menu-panel .undock-btn {
  right: 18px;
  left: auto;
}
.menu-panel .order {
  font-size: 1em;
  right: 2px;
  left: auto;
}
.menu-panel .row {
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.menu-panel .row label {
  line-height: 1.5;
}
.menu-panel .row span, .menu-panel .row label, .menu-panel .row input, .menu-panel .row select {
  white-space: nowrap;
  margin-right: 0.25em;
  margin-top: 0.25em;
  flex: 0 1 12%;
}
.menu-panel .row span.block, .menu-panel .row label.block, .menu-panel .row input.block, .menu-panel .row select.block {
  flex: auto;
  text-align: left;
}
.menu-panel .row input {
  flex: 0 1 40px;
  width: 100%;
  text-align: right;
}
.menu-panel .row input[type=range], .menu-panel .row input[type=color] {
  flex: 1 1 auto;
}
.menu-panel .row input[type=text] {
  border: none;
  background-color: lightgray;
  padding-right: 0.25em;
}
.menu-panel .row input[type=text]:focus {
  outline: 1px solid blue;
}
.menu-panel .btn {
  padding: 0 0.25em;
  margin-right: 3px;
}

.modal {
  position: fixed;
  background: white;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid lightblue;
  box-shadow: 2px 2px 2px #FF79FF;
  max-width: 400px;
}
.modal * {
  margin: 0 1em;
}
.modal input {
  max-width: 40px;
}

.mobile .menu-panel {
  flex-basis: 180px;
  max-width: 220px;
}
.mobile .menu-panel .row input {
  flex-basis: 50px;
}
.mobile .btn, .mobile select, .mobile input {
  font-size: 1.75em;
}

#draw #lines {
  border: 1px solid lightgray;
}
#draw #lines:active, #draw #lines:hover {
  cursor: crosshair;
}

#frames, #layers {
  margin-top: 1px;
}

#layers {
  display: grid;
  grid-auto-columns: minmax(auto, 40px);
  grid-gap: 1px;
}
#layers .layer {
  display: flex;
}
#layers .layer .anim {
  flex: 5;
  background-color: lightgreen;
}
#layers .layer .anim:hover {
  background-color: green;
}
#layers .layer .anim.off {
  background-color: darkgreen;
}
#layers .layer .left, #layers .layer .right, #layers .layer .toggle {
  background-color: lightgray;
}
#layers .layer .left:hover, #layers .layer .right:hover, #layers .layer .toggle:hover {
  background-color: gray;
}
#layers .layer .left.off, #layers .layer .right.off, #layers .layer .toggle.off {
  background-color: #ffddff;
}
#layers .layer .left, #layers .layer .right {
  cursor: pointer;
  line-height: 1;
}
#layers .layer .right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#layers .layer .left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#layers .layer .toggle {
  flex: 5;
  cursor: pointer;
}

#frames {
  height: auto;
  padding: 0;
  width: 100%;
  display: flex;
}
#frames .frame {
  flex: 1;
  max-width: 40px;
  padding: 1px;
  background-color: lightgray;
  transition: background-color 100ms ease-in;
  cursor: pointer;
}
#frames .frame:hover {
  background-color: gray;
}
#frames .frame.plus {
  background-color: #ffddff;
}
#frames .frame.plus:hover {
  background-color: #FF79FF;
}
#frames #current {
  background-color: lightblue !important;
}
#frames .selected {
  background-color: #ffddff !important;
}

#draw-layers {
  margin-top: 1em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.25em 0;
}

/*# sourceMappingURL=animate.css.map */
