@import "../../interface/css/colors";
@import "../../interface/css/lines";

$anim-color: lightgreen;
$anim-select: green;
$anim-off: darkgreen;

$column-width: 40px;

#draw #lines {
	border: 1px solid $ui-color;
	&:active, &:hover { cursor: crosshair; }
}

#frames, #layers {
	margin-top: 1px;
}

#layers-menu {
	// min-width: 100%;
	order: 99;
	min-width: 100%;
	width: max-content;
	padding: 0;
	border: none;

	input[type=color] {
		width: auto;
		flex: 0 1 40px;
		height: 1.75em; /* temp fix til main color selector works */
	}
}

#layers {
	display: grid;
	grid-auto-columns: minmax(auto, $column-width);
	grid-gap: 1px;


	.layer {
		// max-width: 40px;
		display: grid;
		grid-template-columns: auto 1fr auto;

		.anim {
			margin: 0;
			line-height: 1;
			background-color: $anim-color;
		}

		.left, .right, .layer-toggle {
			margin: 0;
			background-color: $ui-color;
			&:hover { background-color: $ui-select; }
			&.off { background-color: $accent-two; }
		}

		.left, .right {
			cursor: pointer;
			line-height: 1;
			max-width: max-content;
		}

		.right {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		.left {
			justify-self: end;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		
		.layer-toggle { 
			cursor: pointer;
		}

	}
}

#frames {
	height:auto;
	padding: 0;
	width: 100%;
	display: flex;
	// grid-template-columns: repeat(auto-fill, 24px);
	// grid-template-rows: max-content max-content;

	.frame {
		flex: 1;
		max-width: $column-width;
		padding: 1px;
		background-color: $ui-color;
		transition: background-color 100ms ease-in;
		cursor: pointer;
		&:hover { background-color: $ui-select; }
		&.plus { background-color: $accent-two; }
		&.plus:hover { background-color: $ui-highlight; }
	}
	
	#current { background-color: $main-color !important; }
	.selected { background-color: $accent-two !important; }
}

#draw-layers {
	margin-top: 1em;
	border-top: 1px solid $ui-color;
	border-bottom: 1px solid $ui-color;
	padding: 0.25em 0;
}