// @import "interface.scss";
@import '../../ui/css/style.scss';

$anim-color: #9de0b1;
$anim-select: green;
$anim-off: darkgreen;

#lines {
	border: 1px solid $ui-color;
	cursor: crosshair; 
	&.no-cursor { cursor: none; }
}

#fio-panel {
	#title {
		border: none;
		border-bottom: 1px solid transparent;
		flex-basis: 100%;
		text-align: left;
		padding: 3px;
		background-color: white;
		&:focus {
			outline: none;
			border-bottom: 1px solid black;
		}
	}
}

#timeline {
	--num-frames: 1;
	--num-layers: 1;
	--num-tweens: 0;
	--frame-width: 120;
	--layer-height: 1.5;
	--state-height: 0;
	
	flex-basis: 100%;
	display: grid;
	align-items: unset;
	// height: calc(var(--height) * 1px);
	grid-template-columns: repeat(var(--num-frames), 2px calc(var(--frame-width) * 1px));
	grid-template-rows: 
		calc(calc(1.5 + var(--state-height)) * 1em)
		repeat(
			calc(var(--num-layers) + var(--num-tweens)),  
			calc(var(--layer-height) * 1em) 
			1px
			) 
		3px
	;

	overflow: scroll hidden;
	* { font-family: monaco, monospace; }

	.frame {
		// overflow: hidden;
		margin: 0;
		background-color: $ui-color;
		grid-row: 1 / span calc(var(--num-layers) * 2 + var(--num-tweens) * 2 + 2);
		width: 100%;
		// max-width: 120px;
		overflow: hidden;
		border: none;
		border-left: 1px dashed $bg-color;
		padding: 0;
		padding-left: 3px;
		display: inline-flex;
		align-items: flex-start;

		&.current {
			background-color: $ui-highlight !important;
		}
	}

	.layer, .tween, .group {
		margin: 0;
		background-color: $main-color;
		// overflow: hidden;
		display: flex;
		z-index: 3;

		.timeline-btn {
			margin: 0;
			margin-right: 1px;
			padding: 1px;
			height: 100%;
			display: inline-block;
			cursor: pointer;
			// background-color: $ui-color;
			background-color: transparent; 
			border: none;

			&.toggle { 
				color: inherit;
				&:hover { background-color: $ui-select; }
			}

			&.toggle.on {
				background-color: $accent-color; 
				color: white;
			}

			&:hover { background-color: $ui-select; }

			&.ui-collection {
				display: flex;
				// width: 28px;

				&:hover { background: none; }
				
				.btn, .number, .drag {
					background: none;
					margin: 0;
					height: 100%;
					line-height: 1;
					border: none;
					width: 0.75rem;
					padding: 0;
					&:hover { background: $ui-select; }
				}
			}
			
		}

		.right-margin {
			margin-left: auto;
		}
	}

	.tween {
		background-color: $anim-color;
	}

	.group {
		background-color: $anim-color;
	}

	.state {
		grid-row: 1 / span 1;
		margin-top: 1.5em;
		background-color: blue;
	}

	&::-webkit-scrollbar {
		width: 0.5em;
		height: 0.5em;
	}
	 
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px $ui-color;
	}
	 
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}

#container {
	&.full-sizes,
	&.UP.full-size {
		grid-template-areas:
			"main main"
			"ui ui"
			"timeline timeline";

	}
}