* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-size: 11px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

button:focus {
  outline: none;
}

#tool-tip {
  position: fixed;
  right: 1em;
  top: 1em;
  background: #ffddff;
  border-radius: 3px;
  font-size: 1em;
  color: black;
  padding: 2px 6px;
  opacity: 0;
  transition: opacity 100ms ease-in;
}
#tool-tip.visible {
  opacity: 1;
  transition: opacity 400ms ease-out;
}

#container {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
#container #draw {
  order: 0;
  padding-right: 1em;
}
#container #draw.right {
  order: 2;
  padding-left: 1em;
  padding-right: 0;
}
#container #interface {
  flex: 1;
}

.btn {
  display: inline-block;
  background-color: lightgray;
  padding: 0 0.5em;
  border-radius: 3px;
  transition: background-color 150ms ease-in;
  line-height: 1.75;
  white-space: nowrap;
}
.btn:hover {
  background: #ffddff;
  cursor: pointer;
}
.btn.press {
  background-color: #ffddff;
}

#panels {
  margin-top: 0.25em;
  display: flex;
  flex-wrap: wrap;
}

/* toggle */
.off {
  background-color: gray;
}

.panel {
  flex-basis: 120px;
  flex-grow: 1;
  max-width: 160px;
  order: 0;
  background-color: #eae1ff;
  border-radius: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
  height: auto;
}
.panel.undocked {
  display: none;
}
.panel.closed {
  height: 25px;
}
.panel label {
  margin-bottom: 1em;
  display: block;
}
.panel .row label {
  margin-bottom: 0;
}
.panel .toggle, .panel .order, .panel .undock-btn {
  display: inline-block;
  position: absolute;
  right: 34px;
  top: 0;
  left: 0;
  text-align: right;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  opacity: 0.5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panel .toggle:hover, .panel .order:hover, .panel .undock-btn:hover {
  background: #ffddff;
}
.panel .toggle.off, .panel .order.off, .panel .undock-btn.off {
  background-color: inherit;
}
.panel .undock-btn {
  right: 18px;
  left: auto;
}
.panel .order {
  font-size: 1em;
  right: 2px;
  left: auto;
}
.panel .row {
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: wrap;
}
.panel .row label {
  line-height: 1.5;
}
.panel .row span, .panel .row label, .panel .row input, .panel .row select {
  white-space: nowrap;
  margin-right: 0.25em;
  margin-top: 0.25em;
}
.panel .row span.block, .panel .row label.block, .panel .row input.block, .panel .row select.block {
  flex: auto;
  text-align: left;
}
.panel .row input {
  flex: 0 1 40px;
  width: 100%;
  text-align: right;
}
.panel .row input[type=range], .panel .row input[type=color] {
  flex: 1 1 auto;
}
.panel .row input[type=text] {
  border: none;
  background-color: lightgray;
  padding-right: 0.25em;
}
.panel .row input[type=text]:focus {
  outline: 1px solid blue;
}
.panel .btn {
  padding: 0 0.25em;
  margin-right: 3px;
  margin-top: 0.5em;
}
.panel select {
  margin-top: 0.25em;
}

.modal {
  position: fixed;
  background: white;
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid lightblue;
  box-shadow: 1px 1px 4px #FF79FF;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.modal * {
  margin-right: 1em;
}
.modal input {
  max-width: 40px;
}
.modal label:first-child {
  flex: 100%;
}

.mobile .menu-panel {
  flex-basis: 180px;
  max-width: 220px;
}
.mobile .menu-panel .row input {
  flex-basis: 50px;
}
.mobile .btn, .mobile select, .mobile input {
  font-size: 1.75em;
}

#draw #lines {
  border: 1px solid lightgray;
}
#draw #lines:active, #draw #lines:hover {
  cursor: crosshair;
}

#frames, #layers {
  margin-top: 1px;
}

#fio-menu {
  order: 0;
  min-width: 100%;
  width: max-content;
}
#fio-menu #title {
  border: none;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  flex: 100%;
  text-align: left;
  padding: 3px;
  background-color: white;
}
#fio-menu #title:focus {
  outline: none;
  border-bottom: 1px solid black;
}

#layers-menu {
  order: 99;
  min-width: 100%;
  width: max-content;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#layers-menu input[type=color] {
  width: auto;
  flex: 0 1 40px;
  height: 1.75em;
  /* temp fix til main color selector works */
}
#layers-menu .layer {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
#layers-menu .layer .tween {
  margin: 0;
  line-height: 1;
  background-color: lightgreen;
}
#layers-menu .layer .left, #layers-menu .layer .right, #layers-menu .layer .layer-toggle {
  margin: 0;
  background-color: lightgray;
}
#layers-menu .layer .left:hover, #layers-menu .layer .right:hover, #layers-menu .layer .layer-toggle:hover {
  background-color: gray;
}
#layers-menu .layer .left.off, #layers-menu .layer .right.off, #layers-menu .layer .layer-toggle.off {
  background-color: #ffddff;
}
#layers-menu .layer .left, #layers-menu .layer .right {
  cursor: pointer;
  line-height: 1;
  max-width: max-content;
}
#layers-menu .layer .right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#layers-menu .layer .left {
  justify-self: end;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#layers-menu .layer .layer-toggle {
  cursor: pointer;
}

#frames {
  height: auto;
  padding: 0;
  width: 100%;
  display: flex;
}
#frames .frame {
  flex: 1;
  max-width: 40px;
  padding: 1px;
  background-color: lightgray;
  transition: background-color 100ms ease-in;
  cursor: pointer;
}
#frames .frame:hover {
  background-color: gray;
}
#frames .frame.plus {
  background-color: #ffddff;
}
#frames .frame.plus:hover {
  background-color: #FF79FF;
}
#frames #current {
  background-color: lightblue !important;
}
#frames .selected {
  background-color: #ffddff !important;
}

#draw-layers {
  margin-top: 1em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.25em 0;
}

/*# sourceMappingURL=animate.css.map */
