@import url(font.css);
body {
  font-family: Monaco, Helvetica, sans-serif;
  margin: 0;
  font-size: 11px;
  -webkit-user-select: none;
  user-select: none; }

* {
  box-sizing: border-box; }

button:focus {
  outline: none; }

#splash {
  font-size: 18px;
  width: 600px;
  margin: 2em auto; }

#container {
  min-width: 720px;
  display: flex;
  flex-wrap: wrap;
  /* grid-auto-flow: column;
  grid-gap: 1em; */
  margin: 1em; }

#draw {
  /* margin:1em; */
  flex: 0;
  padding-right: 1em; }

#tools {
  /* padding-top:1em; */
  flex: 1; }

#canvas {
  border: 1px solid gray; }
  #canvas:active, #canvas:hover {
    cursor: crosshair; }

#nav #title {
  border: none;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  width: 100%; }
  #nav #title:focus {
    outline: none;
    border-bottom: 1px solid black; }
#nav .btn {
  border: 1px solid gray;
  padding: 0.25em;
  margin: .25em 0;
  border-radius: 3px;
  cursor: pointer; }
  #nav .btn:hover {
    background: lightgray; }

.panel-toggle {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  text-align: right;
  padding: 0.1em 0.25em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100; }

/* https://codepen.io/abbeyjfitzgerald/pen/vgjwVN?editors=1100 */
.panels {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 0.5em; }
  .panels .menu-panel {
    /* max-width:150px; */
    flex: 1 25%;
    margin: 0;
    max-width: 180px;
    min-width: 130px; }

.menu-panel {
  margin-right: 0.5em;
  /* margin-top:0.5em; */
  border-top: 1px solid lightgray;
  /* border-left:1px solid lightgray; */
  border-right: 1px solid lightgray;
  padding: 0.5em;
  overflow: hidden;
  /* box-shadow: 2px 2px 1px lightgray; */
  position: relative;
  height: 25px; }
  .menu-panel .row {
    margin-top: 1em;
    display: block; }
    .menu-panel .row:first-child {
      margin-top: 3px; }
  .menu-panel .btn {
    border: 1px solid gray;
    padding: 0.25em;
    margin: .25em 0;
    border-radius: 3px;
    cursor: pointer; }
    .menu-panel .btn:hover {
      background: lightgray; }

#colormenu input, #canvasmenu input {
  display: inline-block;
  width: 100px; }
#colormenu #html-color, #colormenu #bkg-img, #colormenu #bkg-x, #colormenu #bkg-y, #colormenu #bkg-size, #canvasmenu #html-color, #canvasmenu #bkg-img, #canvasmenu #bkg-x, #canvasmenu #bkg-y, #canvasmenu #bkg-size {
  width: 80px; }
#colormenu #colorways, #canvasmenu #colorways {
  margin-top: 0.5em; }
  #colormenu #colorways button, #canvasmenu #colorways button {
    padding: 2px;
    border: 1px solid lightgray; }
    #colormenu #colorways button:hover, #canvasmenu #colorways button:hover {
      cursor: pointer; }

#color, #color-gradient {
  width: 100%;
  height: 2em;
  border: 1px solid gray;
  margin-bottom: 1em; }

#frames {
  height: auto;
  padding: 0.5em;
  width: auto;
  /*  idk?  */
  min-width: 100%; }
  #frames .frame, #frames .plusframe {
    /* width:30px;
    height:30px; */
    display: inline-block;
    background-color: lightgray;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0.5em; }
    #frames .frame:hover, #frames .plusframe:hover {
      background-color: gray; }
  #frames .current {
    background-color: lightblue; }
  #frames .copy {
    background-color: pink; }

#keys {
  width: auto;
  min-width: 100%;
  position: relative; }
  #keys ul {
    list-style: none;
    padding: 0; }
  #keys li {
    vertical-align: middle;
    display: inline-block;
    margin: 0.25em; }

/*# sourceMappingURL=lines.css.map */
